* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background-color: cadetblue;
    border-radius: 28px;
    cursor: pointer;
}

.TecladoNumerico {
    /* opacity: 0; */
    background-color: rgba(169, 169, 169, 0.473);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 380px;
    width: 100%;
}

.TecladoNumerico ul {
    display: grid;
    list-style: none;
    grid-template-columns: 64px 64px 64px;
}

.TecladoNumerico .zero {
    margin-top: 8px;
    width: 168px;
    height: 32px;
    margin-left: 3%;
}

.TecladoNumerico li button {
    width: 46px;
    height: 46px;
    margin: 14px;
    padding: 16px;
}