* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-between;
}

button {
    border: none;
    background-color: cadetblue;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.TecladoNumerico {
    background-color: rgba(169, 169, 169, 0.473);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 380px;
    width: 100%;
    
}

.TecladoNumerico ul {
    display: grid;
    list-style: none;
    grid-template-columns: 86px 86px 86px;
}

.TecladoNumerico .zero {
    font-size: 22px;
    margin-top: 8px;
    width: 200px;
    height: 54px;
    margin-left: 3%;
    border-radius: 26px;
}

.TecladoNumerico li button {
    width: 64px;
    height: 64px;
    margin: 12px;
    padding: 16px;
    border-radius: 32px;
    font-size: 22px;
}

.container {
    display: grid;
    max-width: 960px;
    width: 100%;
    margin: 8% 8%;
}

header img {
    width: 46px;
}

header h1 {
    font-size: 46px;
}

form {
    display: flex;
    margin: 20px 0;

}

form input {
    text-align: center;
    border-radius: 16px;
    height: 26px;
    margin: 0 12px;
}

form button {
    height: 26px;
    padding: 8px;
    border-radius: 10px;
}